# Images
AddType image/bmp .bmp .BMP
AddType image/gif .gif .GIF
AddType image/ief .ief .IEF
AddType image/jp2 .jp2 .JP2 .j2k .J2K
AddType image/jpeg .jpg .JPG .jpe .JPE .jpeg .JPEG .jif .JIF .jfi .JFI .jfif .JFIF
AddType image/jpm .jpm .JPM
AddType image/jpx .jpx .JPX .jpf .JPF
AddType image/png .png .PNG
AddType image/svg+xml .svg .SVG .svgz .SVGZ
AddType image/tiff .tiff .TIFF .tif .TIF
AddType image/vnd.wap.wbmp .wbmp .WBMP
AddType image/webp .webp .WEBP
AddType image/x-djvu .djv .DJV .djvu .DJVU
AddType image/x-emf .emf .EMF .emz .EMZ
AddType image/x-icon .ico .ICO
AddType image/x-macpaint .pnt .PNT .pntg .PNTG .mac .MAC
AddType image/x-pcx .pcx .PCX
AddType image/x-portable-anymap .pnm .PNM
AddType image/x-portable-bitmap .pbm .PBM
AddType image/x-portable-graymap .pgm .PGM
AddType image/x-portable-pixmap .ppm .PPM
AddType image/x-rgb .rgb .RGB
AddType image/x-tga .tga .TGA .tpic .TPIC
AddType image/x-wmf .wmf .WMF .wmz .WMZ
AddType image/x-xbitmap .xbm .XBM
AddType image/x-xpixmap .xpm .XPM
AddType image/x-xwindowdump .xwd .XWD

# Text
AddType text/calendar .ics .ICS
AddType text/css .css .CSS
AddType text/html .html .htm .HTML .HTM
AddType text/java-source .java
AddType text/plain .bas .BAS .txt .TXT .asc .ASC
AddType text/richtext .rtx .RTX
AddType text/sgml .sgml .SGML .sgm .SGM
AddType text/vnd.sun.j2me.app-descriptor;charset=UTF-8 .jad .JAD
AddType text/x-asm .s .S .asm .ASM
AddType text/x-c .c .C .cc .CC .cxx .CXX .cpp .CPP .h .H .hh .HH .dic .DIC
AddType text/x-fortran .f .F .for .FOR .f77 .F77 .f90 .F90
AddType text/x-pascal .p .P .pas .PAS
AddType text/x-setext .etx .ETX
AddType text/x-vcalendar .vcs .VCS
AddType text/x-vcard .vcf .VCF .vcard .VCARD
AddType text/x-vmel .mel .MEL .emy .EMY
AddType text/xml .xml .XML

# Audio
AddType audio/aac .aac .AAC
AddType audio/amr .amr .AMR
AddType audio/imelody .imy .IMY
AddType audio/midi .midi .MIDI .mid .MID
AddType audio/mpeg .mpga .MPGA .mp2 .MP2 .mp3 .MP3
AddType audio/rmf .rmf .RMF
AddType audio/x-aiff .aif .AIF .aiff .AIFF .aifc .AIFC
AddType audeo/x-matroska .mka .MKA
AddType audio/x-ms-wma .wma .WMA
AddType audio/x-ogg .ogg .OGG
AddType audio/x-pn-realaudio .ram .RAM .rm .RM
AddType audio/x-pn-realaudio-plugin .rpm .RPM
AddType audio/x-realaudio .ra .RA
AddType audio/x-wav .wav .WAV

# Video
AddType video/3gpp .3gp .3GP
AddType video/asf .asf .ASF .asx .ASX .wax .WAX
AddType video/mp4 .mp4 .MP4
AddType video/mpeg .m1v .M1V .m2v .M2V .mpa .MPA .mpeg .MPEG .mpg .MPG .mpe .MPE
AddType video/quicktime .qt .QT .mov .MOV
AddType video/webm .webm .WEBM
AddType video/x-flv .flv .FLV
AddType video/x-matroska .mkv .MKV .mks .MKS
AddType video/x-ms-wmv .wmv .WMV .wmx .WMX
AddType video/x-msvideo .avi .AVI
AddType video/x-sgi-movie .movie .MOVIE

# Flash
AddType application/x-shockwave-flash .swf .SWF .swt .SWT

# Archives & packages
AddType application/java-archive .jar .JAR
AddType application/vnd.ms-cab-compressed .cab .CAB
AddType application/x-7z-compressed .7z .7Z
AddType application/x-apple-diskimage .dmg .DMG .smi .SMI .img .IMG
AddType application/x-cfs-compressed .cfs .CFS
AddType application/x-compress .z .Z .taz .TAZ
AddType application/x-dar .dar .DAR
AddType application/x-debian-package .deb .DEB .udeb .UDEB
AddType application/x-gtar .gtar .GTAR
AddType application/x-gzip .gz .GZ .tgz .TGZ
AddType application/x-iso9660-image .iso .ISO
AddType application/x-lzh-compressed .lha .LHA .lzh .LZH
AddType application/x-lzip .lz .LZ
AddType application/x-lzma .lzma .LZMA .tlz .TLZ
AddType application/x-lzx .lzx .LZX
AddType application/x-rar-compressed .rar .RAR .rev .REV .r00 .R00 .r01 .R01 .r02 .R02 .r03 .R03 .r04 .R04 .r05 .R05
AddType application/x-stuffit .sit .SIT
AddType application/x-stuffitx .sitx .SITX
AddType application/x-tar .tar .TAR
AddType application/x-xz .xz .XZ .txz .TXZ
AddType application/x-zip-compressed .zip .ZIP .zipx .ZIPX

# Electronic Books or other files
AddType application/epub+zip .epub .EPUB
AddType application/oda .oda .ODA
AddType application/pdf .pdf .PDF
AddType application/x-fictionbook .fb2 .FB2
AddType application/x-mobipocket-ebook .mobi .MOBI

# Torrent
AddType application/x-bittorrent .torrent .TORRENT

# Windows, MacOS & Linux
AddType application/octet-stream .bin .BIN .dms .DMS .lrf .LRF .so .SO .o .O .elf .ELF .dist .DIST .distz .DISTZ .pkg .PKG .bpk .BPK .dump .DUMP .elc .ELC .deploy .DEPLOY
AddType application/x-ms-manifest .manifest .MANIFEST
AddType application/x-msdownload .exe .EXE .dll .DLL .ocx .OCX .com .COM .bat .BAT .msi .MSI .mso .MSO
AddType application/x-sh .sh .SH

# Microsoft Office, OpenOffice.org, StarOffice
AddType application/msword .doc .DOC .wiz .WIZ .wzs .WZS
AddType application/rtf .rtf .RTF
AddType application/vnd.ms-excel .xls .XLS .xla .XLA .xlt .XLT .xlw .XLW
AddType application/vnd.ms-excel.addin.macroEnabled.12 .xlam .XLAM
AddType application/vnd.ms-excel.sheet.binary.macroEnabled.12 .xlsb .XLSB
AddType application/vnd.ms-excel.sheet.macroEnabled.12 .xlsm .XLSM
AddType application/vnd.ms-excel.template.macroEnabled.12 .xltm .XLTM
AddType application/vnd.ms-powerpoint .ppt .PPT .pot .POT .pps .PPS
AddType application/vnd.ms-powerpoint.addin.macroEnabled.12 .ppam .PPAM
AddType application/vnd.ms-powerpoint.presentation.macroEnabled.12 .pptm .PPTM
AddType application/vnd.ms-powerpoint.slideshow.macroEnabled.12 .ppsm .PPSM
AddType application/vnd.ms-powerpoint.template.macroEnabled.12 .potm .POTM
AddType application/vnd.ms-project .mpp .MPP
AddType application/vnd.ms-word.document.macroEnabled.12 .docm .DOCM
AddType application/vnd.ms-write .wri .WRI
AddType application/vnd.oasis.opendocument.chart .odc .ODC
AddType application/vnd.oasis.opendocument.database .odb .ODB
AddType application/vnd.oasis.opendocument.formula .odf .ODF
AddType application/vnd.oasis.opendocument.graphics .odg .ODG
AddType application/vnd.oasis.opendocument.presentation .odp .ODP
AddType application/vnd.oasis.opendocument.spreadsheet .ods .ODS
AddType application/vnd.oasis.opendocument.text .odt .ODT
AddType application/vnd.openxmlformats-officedocument.presentationml.presentation .pptx .PPTX
AddType application/vnd.openxmlformats-officedocument.presentationml.slideshow .ppsx .PPSX
AddType application/vnd.openxmlformats-officedocument.spreadsheetml.sheet .xlsx .XLSX
AddType application/vnd.openxmlformats-officedocument.spreadsheetml.template .xltx .XLTX
AddType application/vnd.openxmlformats-officedocument.presentationml.template .potx .POTX
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document .docx .DOCX
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.template .dotx .DOTX

# Mobile Apps
AddType application/vnd.android.package-archive .apk
AddType application/vnd.eri.thm .thm
AddType application/vnd.mophun.application .mpn
AddType application/vnd.mophun.certificate .mpc
AddType application/vnd.sonyericsson.mms-template .tpl
AddType application/vnd.symbian.install .sis .SIS
AddType application/vnd.wap.mms-message .mms
AddType application/vnd.wap.wmlc .wmlc
AddType application/vnd.wap.wmlscriptc .wmlsc
AddType model/vrml .wrl .vrml

# Java
AddType application/java-serialized-object .ser .SER
AddType application/java-vm .class
AddType application/x-java-jnlp-file .jnlp .JNLP

# Fonts
AddType application/x-font-eot .eot .EOT
AddType application/x-font-ghostscript .gsf .GSF
AddType application/x-font-linux-psf .psf .PSF
AddType application/x-font-otf .otf .OTF
AddType application/x-font-pcf .pcf .PCF
AddType application/x-font-snf .snf .SNF
AddType application/x-font-ttf .ttf .TTF .ttc .TTC
AddType application/x-font-type1 .pfa .PFA .pfb .PFB .pfm .PFM .afm .AFM
AddType application/x-font-woff .woff .WOFF